.prediction-card{

margin-top:20px;

text-align:center;

}

.prediction-label{

font-size:22px;

font-weight:600;

margin-top:10px;

}

.prediction-label.hate{

color:#ff2a2a;

}

.prediction-label.offensive{

color:#ff8800;

}

.prediction-label.clean{

color:#00ff9c;

}